{% extends 'layout.html' %}
{% block content %}
<p>1) To recognize any person, Please register him in the student registration page</p>
<p>2) After registration please Train the Webapp in Train page</p>
<p>3) Use attendance page to get the attendance</p>
<p>4) Download the Attendance if you want</p>
<p>5) To stop the Attendance Click on Stop button</p>
<p>6) If you want to take Attendance again Click on Attendance Link on navbar</p>

<footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; Santosh Burada</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://www.linkedin.com/in/santosh-burada-1171881aa/">LinkedIn</a></li>
                <li class="list-inline-item"><a href="https://github.com/santosh-burada">Github</a></li>
            </ul>
        </footer>
{% endblock content %}